@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
} 
#splashimg{

    


    -webkit-animation: fadein 2.5s; 
       -moz-animation: fadein 2.5s; 
        -ms-animation: fadein 2.5s; 
         -o-animation: fadein 2.5s; 
            animation: fadein 2.5s;
}

#splashtext {
    z-index: 100;
    position: relative;
    color: white;
    font-size: 40px;
    padding-top:2vh;
    font-weight: bold;
    font-family: "Poppins", Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
    margin:auto;
    transition-delay: 750ms;
    -webkit-animation: fadein 1.75s; 
    -moz-animation: fadein 1.75s; 
     -ms-animation: fadein 1.75s; 
      -o-animation: fadein 1.75s; 
         animation: fadein 1.75s;



  }
  
.hover{
    position:absolute;
    z-index: 1000;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: #ff894c;
    
}
.hover:hover{
    color: #dc2f2f;
    transition-duration: .4s;
    transition-property: background-color,border-color,color,fill,stroke;
    transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  

}
.lefthover:hover ~ .leftsecret{
    visibility: visible;
    /* -webkit-animation: fadein 0.7s; 
    -moz-animation: fadein 0.7s; 
     -ms-animation: fadein 0.7s; 
      -o-animation: fadein 0.7s; 
         animation: fadein 0.7s; */
    transform: scale(3);


}
.righthover:hover ~ .rightsecret{
    visibility: visible;
    /* -webkit-animation: fadein 0.7s; 
    -moz-animation: fadein 0.7s; 
     -ms-animation: fadein 0.7s; 
      -o-animation: fadein 0.7s; 
         animation: fadein 0.7s; */
    transform: scale(3);
    

}


#onerighthover{
  top: 9.8%;
  left: 49.8%;
}

#onerightsecret{
  top: 16.8%;
  left: 40.8%;
}

#tworighthover{
  top: 16%;
  left: 59%;
}

#tworightsecret{
  top: 20%;
  left: 40%;
}

#twolefthover{
  top: 9%;
  left: 37.2%;

}
#threerighthover{
  top: 43%;
  left: 56%;
}

#threelefthover{
  top: 36%;
  left: 56.2%;
}

#fourrighthover{
  top:28%;
  left:34%
}

#fiverighthover{
  top:28%;
  left:64%
}

.rightsecret{
  top: 20.8%;
  left: 85%;

}

.leftsecret{
  top: 35.8%;
  left: 13%;
  width:17vw

}

.secret{
    font-size: 0.6vh;
    font-weight: bold;
    font-family: "Poppins", Arial, sans-serif;
    visibility: hidden;
    position:absolute;
    z-index: 1000;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transition: transform .5s;
    background: #004346;
    color:white;
    border-radius: 25px;
    padding:5px;
    overflow: hidden;
  

      
}



/* CSS */
.button-40 {
        position: absolute;
        -webkit-animation: fadein 1.75s; 
        -moz-animation: fadein 1.75s; 
         -ms-animation: fadein 1.75s; 
          -o-animation: fadein 1.75s; 
             animation: fadein 1.75s;
    
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  background-color: #111827;
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}

.button-40:hover {
  background-color: #374151;
}

.button-40:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 768px) {
  .button-40 {
    padding: .75rem 1.5rem;
  }
}
#container{
    position:relative;
}

#splashimg {
    text-align: center;
    height:80%;
    width:auto;
    position: relative;



}
#splashimg img{
    height:100%;

}

#img1 {
    text-align: center;
    height:70%;
    width:auto;
    position: relative;



}
#img1 img{
    height:100%;

}

#text1{
    padding-top:3vh;
    z-index: 100;
    position: relative;
    color: white;
    font-size: 2.5vh;
    font-weight: bold;
    font-family: "Poppins", Arial, sans-serif;
    text-align: center;
    margin:auto;
    width:130vh;
    transition: all .2s ease-in-out; 

}


#pagebtn{
    margin-top:5vh;
    text-align: center;
}

/* CSS */
.button-50 {
  margin-top:5vh;
  text-align: center;
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button-50:focus {
  text-decoration: none;
}

.button-50:hover {
  text-decoration: none;
}

.button-50:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.button-50:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-50 {
    padding: 12px 50px;
  }
}